@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-pink: hsl(275, 100%, 97%);
  --clr-grayish-purple: hsl(292, 16%, 49%);
  --clr-dark-purple: hsl(292, 42%, 14%);

  --fs-body: 16px;

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  --ff-work: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  font-family: var(--ff-work);
  font-size: var(--fs-body);
  background-image: url("../images/background-pattern-mobile.svg");
  background-color: var(--clr-light-pink);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-inline: 25px;
}

main {
  background: var(--clr-white);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header h1 {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-dark-purple);
}

.logo img {
  width: 25px;
}

.list {
  display: grid;
  gap: 25px;
  margin-top: 20px;
}

details {
  overflow: hidden;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

details[open] {
  animation-name: open;
}

details:not([open]) {
  animation-name: close;
}

@keyframes open {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}

@keyframes close {
  from {
    max-height: 600px;
  }
  to {
    max-height: 0;
  }
}

details summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details summary p {
  margin-inline-end: 15px;
  color: var(--clr-dark-purple);
  font-weight: var(--fw-extra-bold);
  font-size: 16px;
}

.summary-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  padding-inline-end: 25px;
}

.summary-icon.plus {
  background-image: url("../images/icon-plus.svg");
}

.summary-icon.minus {
  background-image: url("../images/icon-minus.svg");
}

.content {
  margin-top: 15px;
  color: var(--clr-grayish-purple);
  font-weight: 500;
  line-height: 1.3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  height: 1px;
}

@media screen and (width >=768px) {
  body {
    background-image: url("../images/background-pattern-desktop.svg");
  }
}
